# Deployment used by `npx convex dev`
# Vercel env variables
CONVEX_DEPLOYMENT=

NEXT_PUBLIC_CONVEX_URL=

NEXT_PUBLIC_CONVEX_SITE_URL=

SWAP_SOLANA_RPC_URL=

# Convex env variables
HELIUS_API_KEY=

OPENAI_API_KEY=

OPENAI_MODEL=

PRIMARY_SOLANA_RPC_URL=

HELIUS_ORIGIN=http://localhost:3000